{% extends 'base.html.twig' %}

{% block title %}NiveauAdmin index{% endblock %}

{% block body %}
    <h1>NiveauAdmin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for niveau_admin in niveau_admins %}
            <tr>
                <td>{{ niveau_admin.id }}</td>
                <td>{{ niveau_admin.niveau }}</td>
                <td>
                    <a href="{{ path('app_niveau_admin_show', {'id': niveau_admin.id}) }}"
                    class="btn btn-outline-primary">show</a>
                    <a href="{{ path('app_niveau_admin_edit', {'id': niveau_admin.id}) }}"
                    class="btn btn-outline-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_niveau_admin_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
