{% extends 'base.html.twig' %}

{% block title %}TesteCrud index{% endblock %}

{% block body %}
    <h1>TesteCrud index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_teste</th>
                <th>Prenom_teste</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teste_crud in teste_cruds %}
            <tr>
                <td>{{ teste_crud.id }}</td>
                <td>{{ teste_crud.nomTeste }}</td>
                <td>{{ teste_crud.prenomTeste }}</td>
                <td>
                    <a href="{{ path('app_teste_crud_show', {'id': teste_crud.id}) }}">show</a>
                    <a href="{{ path('app_teste_crud_edit', {'id': teste_crud.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_teste_crud_new') }}">Create new</a>
{% endblock %}
